
<footer class="main-footer text-light bg-dark">

	<strong>Copyright &copy; 2020 <a href="https://www.instagram.com/instaapablo/" target="blank">Pablo Zamora</a></strong>
	Todos los derechos reservados
</footer>

</body>
</html>